
body {
  margin: 0;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: firebrick;
  color: white;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.map {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.location-marker {

}

.location-icon {
  font-size: 1rem;
  color: orangered;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  min-height: 150px;
  background-color: rgba(50, 50, 50, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  padding: 20px;
  border-radius: 10px;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}